(function () {
    __infuse__ = function (modId) {
        var mod       = __infuse__._modules[modId],
            _exported = __infuse__._exported || (__infuse__._exported = []),
            exported  = _exported[modId]
        ;

        if (!exported && typeof mod === "function") {
            __infuse__._modules[modId] = (mod = mod());
            _exported[modId] = true;
        }

        return mod;
    };
    
    __infuse__._modules = {$modules$};
}());
// --- split ---
"$key$": function () {
    var module  = { exports: {} }, exports = module.exports;
    $code$
    return module.exports;
}
